<div ng-controller="TicketViewModel">
    <div class="jumbotron">
        <h1 class="text-center">Show Me Da Tickets!</h1>
        <form role="form">
            <div class="form-group has-feedback input-group-lg">
                <input type="text"
                       class="text-center form-control"
                       ng-model="query"
                       uib-typeahead="suggestion as suggestion.title for suggestion in getSuggestions($viewValue)"
                       typeahead-on-select="suggestionSelected($item)"
                       typeahead-wait-ms="300"
                       typeahead-editable="false"
                       typeahead-loading="loading"
                       autocomplete="off"
                       placeholder="I'm looking for... (we'll search as you type)" />
                <i ng-show="state === stateEnum.loadingSuggestion"
                   class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback"></i>
            </div>
        </form>
    </div>

    <div ng-cloak class="panel panel-default" ng-show="categoryId && !eventId">

        <div class="panel-heading">
            <h2>
                Available events
                <i ng-show="state !== stateEnum.loadingEvents" class="badge">{{events.totalItems}}</i>
                <i ng-show="state === stateEnum.loadingEvents"
                   class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
            </h2>
        </div>
        <div class="panel-body">
            <p>Select an event to see its available listings.</p>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> <i class="glyphicon glyphicon-globe"></i> Country</th>
                        <th> <i class="glyphicon glyphicon-home"></i> Venue</th>
                        <th> <i class="glyphicon glyphicon-tag"></i> Minimum Ticket Price</th>
                        <th> <i class="glyphicon glyphicon-time"></i> Starting Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events.items"
                        ng-click="eventSelected(event)"
                        ng-class="{ success: event.lowestPrice }"
                        class="selectable">
                        <td>{{event.venue.country}}</td>
                        <td>{{event.venue.name}}</td>
                        <td>{{event.minTicketPrice.display}}</td>
                        <td>{{event.startDate | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <uib-pagination total-items="events.totalItems"
                            max-size="10"
                            items-per-page="pageSize"
                            boundary-link-numbers="true"
                            ng-model="events.page"
                            ng-change="loadEvents()">
            </uib-pagination>
        </div>
    </div>

    <div ng-cloak class="panel panel-default" ng-show="eventId">

        <div class="panel-heading">
            <h2>
                Available tickets
                <i ng-show="state !== stateEnum.loadingTickets" class="badge">{{tickets.totalItems}}</i>
                <i ng-show="state === stateEnum.loadingTickets"
                   class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <button ng-click="eventId = null" class="btn btn-primary">
                        <i class="glyphicon glyphicon-menu-left"></i>
                        Back to events
                    </button>
                </div>

                <div class="col-xs-4 col-xs-offset-5">
                    <div class="input-group">
                        <input type="text"
                               ng-model="ticketNumberFilter"
                               class="form-control"
                               placeholder="Number of tickets...">
                        <span class="input-group-btn">
                            <button ng-click="loadTickets(ticketNumberFilter)"
                                    class="btn btn-default"
                                    type="button">
                                Filter
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th># Tickets</th>
                        <th>Total Ticket Price</th>
                        <th>Booking Fee</th>
                        <th>Section</th>
                        <th>Total Charge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticket in tickets.items">
                        <td>{{ticket.numberOfTickets}}</td>
                        <td>{{ticket.estimatedTotalTicketPrice}}</td>
                        <td>{{ticket.estimatedBookingFee}}</td>
                        <td>{{ticket.section}}</td>
                        <td>{{ticket.estimatedTotalCharge}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <uib-pagination total-items="tickets.totalItems"
                            max-size="10"
                            items-per-page="pageSize"
                            boundary-link-numbers="true"
                            ng-model="tickets.page"
                            ng-change="loadTickets()">
            </uib-pagination>
        </div>
    </div>
</div>